<!-- koushikraj Rajendran-10506917 -->
<div id="myModal" class="modal" [style.display]="mDisplay? 'block' : 'none' " >

    <!-- Modal content -->
    <div class="modal-content">
     
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
           integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
           crossorigin="anonymous"></script>
           <form #regForm="ngForm" [formGroup]="contactForm" (ngSubmit) = "onClickSubmit(contactForm.value)" >

      <div class="modal-header">
          <h2>Movie:{{selectedShow.show}}<br>
            Time:{{selectedShow.showTime}}</h2>
        <span class="close" (click)="toggle()" >&times;</span>
        
      </div>
      <div class="modal-body">
              <!-- <div formGroupName="dat" novalidate> -->
                  <input type="hidden" formControlName="id" name="id" />
    <input type="hidden" formControlName="show" name="show" />
    <input type="hidden" formControlName="showTime" name="showTime" />
    <input type="hidden" formControlName="day" name="day" />
    <table >
<tr>
  <td>
    Adult
  </td>
  <td> €13.25</td>
  <td>
    <input formControlName="adult" [(ngModel)]="adult"  type="number"  min=0 max=5>
  </td>
  <td>{{adult*13.25}}</td>
</tr>
<tr>
    <td>
    Child
    </td>
    <td> €8.25</td>
    <td>
        <input formControlName="child"  [(ngModel)]="child"  type="number"  min=0 max=5>
      </td>
      <td>{{child*8.25}}</td>
  </tr>
  <tr>
      <td>
        Student
      </td>
      <td> €10.00</td>
      <td>
          <input formControlName="student"   [(ngModel)]="student" type="number"  min=0 max=5>
        </td>
        <td>{{student*10.00}}</td>
    </tr>
    <tr>
        <td>
          Combo 1
        </td>
        <td> €6.00</td>
        <td>
            <input  formControlName="combo1"   [(ngModel)]="combo1"  type="number" min=0 max=5>
          </td>
          <td>{{combo1*6.00}}</td>
      </tr>
      <tr>
          <td>
            Combo 2
          </td>
          <td> €7.30</td>
          <td>
              <input  formControlName="combo2"  [(ngModel)]="combo2" type="number"  min= 0 max=5>
            </td>
            <td>{{(combo2)*7.30}}</td>
        </tr>
        <tr>
          <td>
            Total
          </td>
          <td>Ticket:{{adult+student+child}}<br> Combo:{{combo1+combo2}}</td>
          <td>{{(adult*13.25)+(student*10.00)+(child*8.25)+(combo1*6)+(combo2*7.30)}}</td>
        </tr>
    </table>
             
         
         
      </div>
      <div class="modal-footer">
        
            <!-- <input type="submit" class="forsubmit" value="Book"> -->
            <button type="submit" class="btn btn-success" >Book</button>
            <button type="button" class="btn btn-danger" (click)="regForm.reset()">Cancel</button>
      </div>
    </form>
    </div>
  
  </div>
<!--   
<app-seating [selectedShow]=selectedShow></app-seating>  -->