
<!-- koushikraj Rajendran-10506917 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light right-content-end">
    <a class="navbar-brand" href="#">
      Satyam Cinema's
    </a>
  
    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
 
  
    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
        
      <ul class="navbar-nav ml-auto">
          <li>  <a class="nav-link" href="#">{{userName | uppercase}}</a></li>
        <li><img style="height:30px " src="/assets/user.png"></li>
        <li></li>
        <li></li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Home</a>
        </li>
  
       
        <li class="nav-item">
            
<button *ngIf="userName=='Guest' " class="nav-link" (click)="show = !show"> login </button>

          </li>

      </ul>
    </div>
  </nav>

  
  <div id="myModal" class="modal1"  *ngIf="show" >

    <!-- Modal content -->
    <div class="modal-content">
     
  
     
      <div class="modal-header">
          <h3>Log In</h3>
          <span class="close" (click)="show = !show">&times;</span>
      </div>
      <div class="modal-body">
          <form [formGroup]="loginForm" name="myForm" (ngSubmit) = "onClickSubmit(loginForm.value)" >
      
              <div class="form-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input  name="myInput" formControlName="email" type="email" class="form-control" placeholder="Email *"  [email]="true" value=" " required/>
                           
                        
                          </div>
                        <div class="form-group">
                            <input   formControlName="pswd" type="password" class="form-control" placeholder="Password *" value=" " required/>
                        </div>
                    </div>
                   
                </div>
                <button type="submit" class="btnSubmit">Submit</button>    <button type="button" (click)="show = !show" [routerLink]="['/register']"class="btnSubmit">Register</button>
            </div>
            </form>
            <h1>{{loginForm.$valid}}</h1>
      </div>
     
    </div>
  
  </div>