
<!-- koushikraj Rajendran-10506917 -->
 <!-- Page Content -->
<div class="container">

  
    <!-- Portfolio Item Row -->
    <div class="row">
  
        <div class="col-md-8">
            
                    <img class="img-fluid" src="/assets/m{{i}}.jpg" alt="">
        </div>
    
      
        <div class="col-md-4" style="text-align:left;  ">
            <h3 class="my-3"  >{{movie.title}}</h3>
            <b>Year:</b>{{movie.year}}<br>
            <b>Genre:</b>{{movie.genre}}<br>
            <b>Cast:</b>{{movie.cast}}<br>
           <b> Director:</b>{{movie.director}}
    
            <br>
            <button class="btn-warning run" (click)="toggleTrailer(i-1)">Trailer</button>
    
          </div>
    
      </div>
    <!-- /.row -->

    <!--Show Timings Row -->
    <h3 class="my-4">Show Timings</h3>
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
        <ngb-panel  id="monday" title="Monday">
          <ng-template class="hell" ngbPanelContent>
              <button class="run" (click)="selected(mon,movie.title,'Monday')" *ngFor="let mon of movie.runningTimes.mon">
                  {{mon}}</button>
          </ng-template>
        </ngb-panel>
        <ngb-panel  id="tuesday" title="Tuesday">
            <ng-template ngbPanelContent>
                <button class="run" (click)="selected(day,movie.title,'Tuesday')" *ngFor="let day of movie.runningTimes.tue">
                    {{day}}</button>
            </ng-template>
          </ngb-panel>



          <ngb-panel  id="wednesday" title="Wednesday">
              <ng-template ngbPanelContent>
                  <button class="run" (click)="selected(day,movie.title,'Wednesday')" *ngFor="let day of movie.runningTimes.wed">
                      {{day}}</button>
              </ng-template>
            </ngb-panel>
            <ngb-panel  id="thursday" title="Thusday">
                <ng-template ngbPanelContent>
                    <button class="run" (click)="selected(day,movie.title,'Thursday')" *ngFor="let day of movie.runningTimes.thu">
                        {{day}}</button>
                </ng-template>
              </ngb-panel>
              <ngb-panel  id="friday" title="Friday">
                  <ng-template ngbPanelContent>
                      <button class="run" (click)="selected(day,movie.title,'Friday')" *ngFor="let day of movie.runningTimes.fri">
                          {{day}}</button>
                  </ng-template>
                </ngb-panel>
                <ngb-panel  id="saturday" title="Saturday">
                    <ng-template ngbPanelContent>
                        <button class="run" (click)="selected(day,movie.title,'Saturday')" *ngFor="let day of movie.runningTimes.sat">
                            {{day}}</button>
                    </ng-template>
                  </ngb-panel>
                  <ngb-panel  id="sunday" title="Sunday">
                      <ng-template ngbPanelContent>
                          <button class="run" (click)="selected(day,movie.title,'Sunday')" *ngFor="let day of movie.runningTimes.sun">
                              {{day}}</button>
                      </ng-template>
                    </ngb-panel>
      </ngb-accordion>
 
 
    <!-- /.row -->
          <!-- /.row -->
          <app-booking-list [selectedShow]="showDetails" [mDisplay]="mDisplay" (mDisplayEmitter)="toggle($event)">
      
            </app-booking-list>
  </div>
  
<div id="myModal" class="modal" [style.display]="display? 'block' : 'none' ">

    <!-- Modal content -->
    <div class="modal-content">
     
       
     
      <div class="modal-header">
         
        <span class="close trailer" (click) ="toggleTrailer()">&times;</span>
        
      </div>
      <div class="modal-body">
        
        <iframe [src]="safeSrc"  src="https://www.youtube.com/embed/EuOlYPSEzSc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
      </div>
      <div class="modal-footer">
        <h3></h3>
      </div>
    </div>
   
  </div>