<!-- koushikraj Rajendran-10506917 -->
<div class="container register-form">
  <div class="form">
        <a class="nav-link" style="width:0px;" href="#">Home</a>
      <div class="note">
          <p>Registeration.</p>
      </div>
      <form [formGroup]="registerForm" (ngSubmit) = "onClickSubmit(registerForm.value)" >
      
        <div class="form-content">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group">
                      <input  formControlName="name" type="text" class="form-control" placeholder="Your Name *" value=""/>
                  </div>
                  <div class="form-group">
                      <input   formControlName="phoneNo" type="number"  max=10 class="form-control" placeholder="Phone Number *" value=""/>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input  formControlName="email" type="email" class="form-control" placeholder="Email Id *" value=""/>
                  </div>
                  <div class="form-group">
                      <input  formControlName="pswd" type="password" class="form-control" placeholder="Your Password *" value=""/>
                  </div>
              </div>
          </div>
          <button type="submit" class="btnSubmit">Submit</button>
      </div>
      </form>
  </div>
</div>